<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="URL" value="http://huardcjemsdw01/CAMX/CAMXCS3.html"/>
    <add key="DestPATH" value="\\huanb1419\Share\abc\OEEData.txt"/>
    <!--<add key="JSPATH" value="C:\Users\ShenS61\Desktop\GetOEEData.js"/>-->
    <add key="JSPATH" value="D:\MyWork\OEE\GetOEEData\GetOEEData.js"/>
    <add key="EQUIPMENTIDS" value="13093"/>
  </appSettings>
</configuration>